<div *ngIf="selectedPostLikes || selectedPostShares" (click)="disableSelectedPost()">
    <div class="modal-content">
      <div class="modal-header">
        <h4 *ngIf="selectedPostLikes" class="modal-title">Likes</h4>
        <h4 *ngIf="selectedPostShares" class="modal-title">Shares</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li *ngFor="let user of facebookInteractUsers">
            <img src="{{user.userPic}}" />{{user.user}}
          </li>
        </ul>
      </div>
    </div>
</div>
