<div class="row">
  <div class="col-md-12 tooltipPlus">
    <div id="plusTrigger" class="glyphicon glyphicon-plus" style="font-size: 30px" (click) = "openSocialStreamPopup()" role="button" mdTooltip="Open social media account" mdTooltipPosition="right"></div>
  </div>
</div>
<div class="row">
  <div *ngIf="chooseSocialStream" [@socialStreamState]= "socialStreamPopupState" >
    <div class="col-md-6 col-md-offset-3">
      <social-stream-chooser (selectedAccount) = "onSelectedAccount($event)" (clickOutside) = "closeSocialStreamPopup($event)"></social-stream-chooser>
    </div>
  </div>
</div>
<div *ngIf="activeStreams.length !== 0" >
  <div class="row">
    <div *ngFor="let stream of activeStreams" class="col-md-4">
        <div *ngIf="stream.social == 'facebook'">
          <facebook [facebookAccount]="stream" (closeTab) = "closeSocialTab(stream)"></facebook>
        </div>
    </div>
  </div>
</div>
