<div class="socialStreamChooserBox">
  <div class="text-center">
    <p class="socialStreamChooserHeader"> Choose social account </p>
  </div>
  <hr />
  <div class="socialSearchBox">
    <input #searchBox (keyup)="0" type="text" class="form-control" name="socialSearch" placeholder="Search for social account..." />
  </div>
  <br />
  <div class="choosedSocialMediaContainer">
    <div class ="choosedSocialMedia dontCloseIfChoosed" *ngFor="let account of usedSocials | socialLoginSearch:searchBox.value ;let odd=odd; let even=even;" (click)="selectAccount(account)"  role="button" [ngClass]="{ oddRow: odd, evenRow: even }">
      <img class="img-rounded socialIcons margLeft10px dontCloseIfChoosed" src="assets/{{account.social}}.png" />
      <img class="img-rounded userIcons margLeft10px dontCloseIfChoosed" src="{{account.userPic}}" />
      <span class="margLeft10px dontCloseIfChoosed"> {{account.login}} </span>
    </div>
  </div>
</div>
