$backgroundColorActiveTag: #6699ff;
$backgroundColorHoverTag: #b3ccff;
$boderRadius: 15px;

.socialStreamChooserBox {
    border:3px solid $backgroundColorActiveTag;
    border-radius: $boderRadius;
    padding: 10px;
}

hr {
  height:2px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.socialStreamChooserHeader {
    font-size: 15pt;
    font-weight: 500;
    margin-top: 10px;
}

.choosedSocialMedia {
  height: 40px;
  display: flex;
  align-items: center;
}

.choosedSocialMediaContainer {
  max-height: 160px;
  overflow-y: scroll;
}
