  <div class="row">
    <div class="col-md-2">
      <img class="socialIcons" src="assets/{{facebookAccount.social}}.png" />
    </div>
    <div class="col-md-5">
      <h3> <small>{{facebookAccount.login}}</small> </h3>
    </div>
    <div class="col-md-3">
      <button class="btn btn-primary btn-sm" (click)="showEvents.show();showFbEvents()">Show Events</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-sm dontCloseIfChoosed" (click)="closeFacebookTab()">Close</button>
    </div>
  </div>
  <div class="row socialTab" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="300"  (scrolled)="onScrollDown()" [scrollWindow]="false">
      <div *ngFor="let post of facebookPosts" class="facebookPost">
        <div class="row postMsg">
          <p [innerHTML]="post.msg"></p>
          <!--<p [innerHTML]="post.msg | safeUrl"></p>-->
        </div>
        <div class="row">
          <div class="col-md-1"  mdTooltip="Like this post" mdTooltipPosition="above">
            <span class="glyphicon glyphicon-thumbs-up" (click)="addLike(post.id)" aria-hidden="true" role="button"></span>
          </div>
                    <div class="col-md-2" mdTooltip="Show people who like it" mdTooltipPosition="above">
            <b (click)="showLikesModal.show();showFacebookLikes(post)" class="text-left" role="button"> {{post.likes}} </b>
          </div>
          <div class="col-md-1" mdTooltip="Share this post" mdTooltipPosition="above">
            <span class="glyphicon glyphicon-share-alt" aria-hidden="true" (click) = "postShareModal.show();sharePost(post)" role="button"></span>
          </div>
          <div class="col-md-2" mdTooltip="Show people who share it" mdTooltipPosition="above">
            <b (click)="showSharesModal.show();showFacebookShares(post)" class="text-left" role="button"> {{post.shares}} </b>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
              <img class="img-circle" src="{{facebookAccount.userPic}}" />
          </div>
          <div class="col-md-10">
            <textarea #comment (keyup.enter)="addComment(post.id, comment)" id="comment{{post.id}}" [attr.maxlength]="8000" placeholder="Write a comment..."></textarea>
          </div>
        </div>
        <div *ngFor="let anwser of post.anwsers" class="row">
          <div class="col-md-2">
            <img class="img-circle" src="{{anwser.userPic}}"/>
          </div>
          <div class="col-md-3">
            <span class="anwserUser"> {{anwser.user}} </span>
          </div>
          <div class="col-md-5">
            <div class="postAnwser">
                    {{anwser.msg}}
            </div>
          </div>
          <div class="col-md-2">
              <span class="glyphicon glyphicon-thumbs-up" (click)="addAnwserLike(post.id, anwser.id)" role="button"></span> <span class="anwserLikes">{{anwser.likes}}</span>
          </div>
          <div *ngIf = "anwser.replies">
            <div class="row">
              <button class="btn btn-sm"(click)="replies.showReplies(post.id, anwser.id)">Show Replies</button>
              <facebook-replies #replies></facebook-replies>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- MODALS -->
    <div bsModal #showEvents="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div *ngIf="showFacebookEvents">
            <facebook-events [facebookAccountData]="facebookAccount"></facebook-events>
          </div>
        </div>
    </div>

      <div bsModal #showLikesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <facebook-likes [selectedPostLikes] = "facebookLikesPost" (disableLikes)="disableLikes($event)"></facebook-likes>
        </div>
      </div>

    <div bsModal #showSharesModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <facebook-shares [selectedPostShares] = "facebookSharesPost" (disableShares)="disableShares($event)"></facebook-shares>
      </div>
    </div>

    <div bsModal #postShareModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <facebook-post-share [sharePost] = "facebookPostShare" (postShared)="onPostShared($event)" ></facebook-post-share>
      </div>
    </div>
  <!-- MODALS -->
