<div class="row">
  <h2> Login </h2>
</div>
<div class="row">
  <h3> Login to use </h3>
</div>
<div class="row">
  <div class="col-md-6">
    <form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="Login" formControlName="login">
        <div class="help-block" *ngIf="user.get('login').hasError('required') && user.get('login').touched">
          Login is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="Password" formControlName="password">
        <div class="help-block" *ngIf="user.get('password').hasError('minlength')  && user.get('password').touched">
            Minimum of 6 characters required
        </div>
        <div class="help-block" *ngIf="user.get('password').hasError('required')  && user.get('password').touched">
           Password is required
        </div>
      </div>
      <div  class="help-block" *ngIf ="wrongLoginPass">
        Wrong login/password. Please try again.
      </div>
      <button type="submit" class="btn btn-default" [disabled]="user.invalid">Login</button>
    </form>
  </div>
</div>
