$backgroundColorHoverTag: #b3ccff;
$backgroundColorActiveTag: #6699ff;

nav{
  a {
    text-decoration: none !important;
  }
  font-size: 12pt;
  li:hover {
    background-color: $backgroundColorHoverTag;
    color: white;
  }

 a.active li {
    background-color: $backgroundColorActiveTag;
    color: white;
  }
}

.socialIcons {
  width: 30px;
  height: 30px;
}

.userIcons {
  @extend .socialIcons
}

.margLeft10px {
  margin-left: 10px;
}

.evenRow {
  background-color: $backgroundColorHoverTag;
  color: white;
}

.oddRow:hover {
  background-color: $backgroundColorHoverTag;
  color: white;
}

.logOut{
  cursor: pointer;
  color: $backgroundColorHoverTag;
}

.logOut:hover{
  cursor: pointer;
  color:  $backgroundColorActiveTag;
  text-decoration: underline;
}
