<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <h1 class="text-center">
        Octo-Post - app for social media management.
      </h1>
    </div>
    <div class="col-md-1">
      Logged:
        <span>{{user}}</span>
    </div>
    <div class="col-md-1">
      <span class="logOut" [routerLink]="['/login']">Log out</span>
    </div>
  </div>
  <error-message></error-message>
  <div class="row">
    <div class="col-md-2">
      <nav>
        <ul class ="list-group">
            <a [routerLink]="['/dashboard']"  routerLinkActive="active">
              <li class="list-group-item">
                <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span>
                <span class="margLeft10px">Dashboard</span>
              </li>
            </a>
            <a [routerLink]="['/addpost']"  routerLinkActive="active">
                <li class="list-group-item">
                  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                  <span class="margLeft10px">Add Post</span>
                </li>
            </a>
            <a [routerLink]="['/reports']"  routerLinkActive="active" [hidden]="true">
              <li class="list-group-item">
                <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                 <span class="margLeft10px">Reports</span>
               </li>
            </a>
            <a [routerLink]="['/socials']"  routerLinkActive="active">
              <li class="list-group-item">
                <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <span class="margLeft10px">Social Menager</span>
              </li>
            </a>
            <a [routerLink]="['/config']"  routerLinkActive="active" [hidden]="true">
              <li class="list-group-item">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                <span class="margLeft10px">Customise App</span>
              </li>
            </a>
        </ul>
      </nav>
    </div>
    <div class="col-md-10" >
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
  <div class="footer navbar-bottom">
    <div class="col-md-12">
      <footer class="text-right">
        Copyrights by Daniel Drozdzel © 2016
      </footer>
    </div>
  </div>
</div>
