<div class="modal-content">
  <div class="modal-header">
      <h4 class="modal-title">Facebook Events</h4>
    </div>
  <div class="modal-body">
    <div *ngFor = "let event of facebookEvents">
      <h5> {{event.event}} </h5>
        <p style="font-size: 10pt"><b>When: </b> {{event.date}} </p>
        <p> Where: {{event.owner}} </p>
        <a href="{{event.respondUrl}}" target="_blank" >{{event.status}}</a>
      </div>
  </div>
</div>
