<div *ngIf="account">
  <div  *ngIf = "!accountEdited">
    <h2> Updated your social account </h2>
    <form novalidate (ngSubmit)="onSubmit(updatedSocialAccount)" [formGroup]="updatedSocialAccount">
    <!--<input type="hidden" formControlName="id" value="">-->
        <div class="form-group">
          <label for="login">New Login</label>
          <input type="text" class="form-control" id="Login" formControlName="login">
        </div>
        <div class="error" *ngIf="updatedSocialAccount.get('login').hasError('required') && updatedSocialAccount.get('login').touched">
          Login is required
       </div>
       <div class="form-group">
         <label for="password">New Password</label>
         <input type="password" class="form-control" id="Password" formControlName="password">
       </div>
       <div class="error" *ngIf="updatedSocialAccount.get('password').hasError('minlength')  && updatedSocialAccount.get('password').touched">
           Minimum of 6 characters required
      </div>
      <div class="error" *ngIf="updatedSocialAccount.get('password').hasError('required')  && updatedSocialAccount.get('password').touched">
          Password is required
      </div>
       <div class="form-group">
         <label for="password">Confirm Password</label>
         <input type="password" class="form-control" id="PasswordConfirm" formControlName="passwordConfirm">
       </div>
       <div class="error" *ngIf="updatedSocialAccount.hasError('areNotEquals')">
           Passwords are not equals
      </div>
       <div class="error" *ngIf="updatedSocialAccount.get('passwordConfirm').hasError('minlength')  && updatedSocialAccount.get('passwordConfirm').touched">
           Minimum of 6 characters required
      </div>
      <div class="error" *ngIf="updatedSocialAccount.get('passwordConfirm').hasError('required')  && updatedSocialAccount.get('passwordConfirm').touched">
          Password is required
      </div>
      <button type="submit" class="btn btn-default" [disabled]="updatedSocialAccount.invalid">Update your social account</button>
    </form>
    </div>
    <div *ngIf="accountEdited">
      Your social media account was succesfully editet. <button class="btn btn-xs" (click)="resetEdition()"> Reset </button>
    </div>
</div>
