<div class="row">
  <h2>Add Post Form</h2>
</div>
<div class="row">
  <div class="col-md-8">
      <form novalidate *ngIf="!newPostAddedSucces" (ngSubmit)="onSubmit(facebookNewPost)" [formGroup]="facebookNewPost">
      <div class="form-group">
        <label for="accounts">Select Social Account</label>
        <input type="hidden" id="accounts" formControlName="account">
        <div class="row">
          <social-stream-chooser #socialChooser (selectedAccount) = "selectAccount($event)" ></social-stream-chooser>
        </div>
        <br />
        <div *ngIf="choosedAccounts.length>0">
          <accordion-account [choosedAccounts] = "choosedAccounts" (removedAccount) = "removeAccountFromChoosed($event)"></accordion-account>
        </div>
        <div class="error" *ngIf="facebookNewPost.get('account').hasError('isEmptyArray') || choosedAccounts.length == 0">
          Social account is required
       </div>
      </div>
      <div class="form-group">
        <label for="Message">Message</label>
        <textarea class="form-control" id="Message" formControlName="msg"></textarea>
      </div>
      <div class="error" *ngIf="facebookNewPost.get('msg').hasError('maxlength')">
          Maximum of {{maxMsglength}} characters
      </div>
      <div class="form-group">
        <label for="attachment">Attach File</label>
        <dropzone [message]="'Click or drag images here to upload'" (success)="onUploadSuccess()" (error)="onUploadError()"></dropzone>
      </div>

      <div class="form-group">
        <label for="link">Link</label>
        <input type="text" class="form-control" id="link" formControlName="link">
      </div>
      <div class="error" *ngIf="facebookNewPost.get('link').hasError('pattern')  && facebookNewPost.get('link').touched">
          Input doesn't match url pattern
        </div>
      <div class="form-group">
        <label for="schedule">Schedule</label>
        <input type="text" class="form-control" id="schedule" ng2-datetime-picker formControlName="schedule">
      </div>
      <div class="error" *ngIf="facebookNewPost.get('schedule').hasError('pattern')  && facebookNewPost.get('schedule').touched">
          Schedule doesn't match date pattern
        </div>
      <div class="form-group">
        <label for="privacy">Select Privacy</label>
        <select class="form-control" id="privacy" formControlName="privacy">
          <option *ngFor="let privacy of privacies" [value]="privacy">{{privacy}}</option>
        </select>
        <div class="error" *ngIf="facebookNewPost.get('privacy').hasError('required') && facebookNewPost.get('privacy').touched">
          Privacy is required
       </div>
      </div>
        <div class="error" *ngIf="!informationSend">
            At least one of three has to be filled
        </div>
      <button type="submit" class="btn btn-default" [disabled]="facebookNewPost.invalid">Add new post</button>
    </form>
  </div>
</div>
  <div *ngIf= "newPostAddedSucces">
    <div class="row">
      <div class="col-md-8 col-offset-md-2 text-center">
        <p> You succesfully added new post to your accounts. </p>
      	<a [routerLink]="['/dashboard']">
          <button class='btn btn-md'>Go to dashboard</button>
        </a>
      </div>
    </div>
</div>
