<div *ngIf = "sharePost">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title"> Share a post </h4>
    </div>
   <div class="modal-body">
      <form novalidate (ngSubmit)="onSubmit()" [formGroup]="newSharedPost">
        <div class="form-group">
          <label for="accounts">Select Social Account</label>
          <input type="hidden" id="accounts" formControlName="account">
          <social-stream-chooser  #socialChooser (selectedAccount) = "selectAccount($event)" ></social-stream-chooser>
          <div *ngIf="choosedAccounts.length>0">
            <accordion-account [choosedAccounts] = "choosedAccounts" (removedAccount) = "removeAccountFromChoosed($event)"></accordion-account>
          </div>
          <div class="error" *ngIf="newSharedPost.get('account').hasError('isEmptyArray')">
            Social account is required
         </div>
        </div>
        <div class="form-group">
          <label for="Comment">Message</label>
          <textarea class="form-control" id="Comment" formControlName="comment" style="width: 300px; height: 150px;"></textarea>
        </div>
        <div class="error" *ngIf="newSharedPost.get('comment').hasError('maxlength')">
            Maximum of {{maxMsglength}} characters
        </div>
        <div>
            <h4> {{sharePost.msg}}</h4>
        </div>
        <div class="form-group">
          <label for="privacy">Select Privacy</label>
          <select class="form-control" id="privacy" formControlName="privacy">
            <option *ngFor="let privacy of privacies" [value]="privacy">{{privacy}}</option>
          </select>
          <div class="error" *ngIf="newSharedPost.get('privacy').hasError('required') && newSharedPost.get('privacy').touched">
            Privacy is required
         </div>
        </div>
        <button type="submit" class="btn btn-default" [disabled]="newSharedPost.invalid">Share a Post</button>
      </form>
    </div>
</div>
