<div class="row">
  <h2> Menage your socials account </h2>
</div>
<div class="row">
  <h3> Add new social account </h3>
</div>
<div class="row">
  <div class="col-md-6">
    <form novalidate (ngSubmit)="onSubmit(newSocialAccount)" [formGroup]="newSocialAccount" *ngIf="!accountCreated">
      <div class="form-group">
        <label for="social">Select Social Media </label>
        <select class="form-control" id="social" formControlName="social">
          <option *ngFor="let site of socialsSites; let odd=odd; let even=even;" [value]="site" [ngClass]="{ oddRow: odd, evenRow: even }">
            <img class="socialIcons" src="assets/{{site}}.png" />
            <span class="margLeft10px">{{site}}</span>
          </option>
        </select>
        <div class="help-block" *ngIf="newSocialAccount.get('social').hasError('required') && newSocialAccount.get('social').touched">
          Social Service is required
        </div>
      </div>
      <div class="form-group">
        <label for="login">Login</label>
        <input type="text" class="form-control" id="Login" formControlName="login">
        <div class="help-block" *ngIf="newSocialAccount.get('login').hasError('required') && newSocialAccount.get('login').touched">
          Login is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="Password" formControlName="password">
        <div class="help-block" *ngIf="newSocialAccount.get('password').hasError('minlength')  && newSocialAccount.get('password').touched">
            Minimum of 6 characters required
        </div>
        <div class="help-block" *ngIf="newSocialAccount.get('password').hasError('required')  && newSocialAccount.get('password').touched">
           Password is required
        </div>
      </div>
      <div class="form-group">
        <label for="password">Confirm Password</label>
        <input type="password" class="form-control" id="PasswordConfirm" formControlName="passwordConfirm">
      </div>
      <div class="error" *ngIf="newSocialAccount.hasError('areNotEquals')">
          Passwords are not equals
     </div>
      <div class="error" *ngIf="newSocialAccount.get('passwordConfirm').hasError('minlength')  && newSocialAccount.get('passwordConfirm').touched">
          Minimum of 6 characters required
     </div>
      <button type="submit" class="btn btn-default" [disabled]="newSocialAccount.invalid">Add new account</button>
    </form>
    <div *ngIf = "accountCreated">
        <div class="row">
          <div class="col-md-12 text-center">
            <span class="text-center">New Account for <b>{{newSocialAccount.value.login}}</b> using social network <b>{{newSocialAccount.value.social}}</b> have been created. </span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <button class="btn btn-default btn-succes resetFormButton" (click)="resetNewAccountForm()"> Reset Form </button>
          </div>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <h3>Active Social Account </h3>
</div>
<div class="row">
  <div class="col-md-6">
    <accordion>
      <accordion-group *ngFor="let account of usedSocials">
        <div accordion-heading>
          <div class="row">
            <div class="col-md-2">
              <img class="socialIcons" src="assets/{{account.social}}.png" />
            </div>
            <div class="col-md-2">
              <img class="img-rounded userIcons" src="{{account.userPic}}" />
            </div>
            <div class="col-md-4">
              <span> {{account.login}} </span>
            </div>
            <div class="col-md-2">
              <button (click)="confirmAccountDelete.show()"> Delete </button>
            </div>
          </div>
        </div>
        <div>
          <social-edit [account] = "account"></social-edit>
        </div>

        <!-- MODAL -->
          <div bsModal #confirmAccountDelete="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                     <span> Are you sure want to delete account?</span>
                  </div>
                  <div class="modal-body">
                    <button type="button" class="btn btn-danger" (click)="deleteAccount(account)" aria-label="Delete">Delete</button>
                    <button type="button" class="btn" (click)="confirmAccountDelete.hide()" aria-label="Close">Cancel</button>
                  </div>
              </div>
            </div>
          </div>
          <!-- MODAL -->

      </accordion-group>
    </accordion>
  </div>
</div>

    <!-- MODAL -->
    <div bsModal #accountAlreadyTaken="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header text-center">
               <span> Account already used </span>
            </div>
            <div class="modal-body text-center">
               <span>  Account <b>{{newSocialAccount.value.login}}</b> from social network <b>{{newSocialAccount.value.social}}</b> is aready used. </span>
            </div>
        </div>
      </div>
    </div>

    <!-- MODAL -->
