<div *ngIf="replies">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div class="row">
        <textarea #addReplie (keyup.enter)="makeReplie(addReplie)" id="addReplie" placeholder="Write a replie..."></textarea>
      </div>
      <div *ngFor="let replie of replies" class="row">
        <div class="col-md-1">
          <img class="img-circle" src="{{replie.userPic}}" />
        </div>
        <div class="col-md-3">
          <span class="replieUser">{{replie.user}}</span>
        </div>
        <div class="col-md-5">
          <div class="anwserReplie">
            {{replie.msg}}
          </div>
        </div>
        <div class="col-md-1">
          <span class="glyphicon glyphicon-thumbs-up" (click) = "addReplieLike(replie.id)" role="button"></span> <b> {{replie.likes}} </b>
        </div>
      </div>
    </div>
  </div>
</div>
