<accordion>
  <accordion-group heading="Choosed Social Accounts">
    <div class="choosedSocialAccounts" *ngFor="let account of choosedAccounts;let odd=odd; let even=even;" [ngClass]="{ oddRow: odd, evenRow: even }">
      <div class="row">
        <div class="col-md-2">
          <img class="socialIcons" src="assets/{{account.social}}.png" />
        </div>
        <div class="col-md-2">
          <img class="img-rounded userIcons" src="{{account.userPic}}" />
        </div>
        <div class="col-md-4">
          <span class="account-login"> {{account.login}} </span>
        </div>
        <div class="col-md-2">
          <button class="btn" (click)="removeAccountFromChoosed(account)"> Remove </button>
        </div>
      </div>
    </div>
  </accordion-group>
</accordion>
